<h1><%= title %></h1>
<div class="contact-form">
  <a href="/messages/archived" class="submit-button">View Archived Messages</a>
  <a href="/messages/new" class="submit-button">Create New Message</a>
</div>
<ul class="message-list">
  <% if (messages.length === 0) { %>
    <li>No messages found.</li>
  <% } else { %>
    <% messages.forEach(msg => { %>
      <li>
        <strong><a href="/messages/view/<%= msg.id %>"><%= msg.subject %></a></strong>
        <% if (!msg.is_read) { %><em>(unread)</em><% } %><br>
        From: <%= msg.sender_name %> (<%= msg.sender_email %>) - <%= msg.created_at.toLocaleString() %>
      </li>
    <% }) %>
  <% } %>
</ul>