<% if (title) { %>
    <h1><%= title %></h1>
<% } else { %>
    <%- res.redirect('/') %>
<% } %>
    
<!-- Display flash message if there is one -->
<div class="flash-message">
  <%- messages() %>
</div>
<!-- Task 3 - Assignment 5 -->
<% if (accountData.account_type === 'Employee' || accountData.account_type === 'Admin') { %>
   
    <h2>Welcome <%- accountData.account_firstname %> </h2>
    <!-- Content for the account management page -->
    <p>You're logged in.</p>

    <!-- Task 4 - Assignment 5 - Account Update Form -->
    <!-- Dynamically construct the update URL with the session's account_id -->
    <ul class="inv-manage">
        <li><a id="info-update" href="/account/updateProfile">Edit Account Information</a></li>
    </ul>
    <ul class="inv-manage">
        <li><a href="/inv/">Manage Inventory</a></li>
    </ul>
    <!-- Final Enhancement -->
    <ul class="inv-manage">
        <li><a href="/messages/inbox">Inbox</a></li>
        <li><a href="/messages/archived">Archived Messages</a></li>
    </ul>

<% } else { %>

    <h2>Welcome <%- accountData.account_firstname %> </h2>
<!-- Content for the account management page -->
    <p>You're logged in.</p>
    
    <!-- Task 4 - Assignment 5 - Account Update Form -->
    <!-- Dynamically construct the update URL for non-admin users -->
    <ul class="inv-manage">
        <li><a id="info-update" href="/account/updateProfile">Edit Account Information</a></li>
    
    <!-- Final Enhancement -->
    </ul>
        <ul class="inv-manage">
        <li><a id="info-update" href="/account/contact">Leave us a Message</a></li>
    </ul>
<% } %>