<div class="view-message">
    <h1><%= message.subject %></h1>
    <hr>
    <p><strong>From:</strong> <%= message.sender_name %> (<%= message.sender_email %>) - <em>Sent at: <%= message.created_at.toLocaleString() %></em></p>
    <br>
    <p><%= message.message_content %></p>
    <p></p>
    <hr>
    <div class="message-actions">
    <form method="post" action="/messages/archive/<%= message.id %>">
        <button type="submit" class="submit-button">Archive</button>
    </form>
    <form method="post" action="/messages/delete/<%= message.id %>">
        <button type="submit" class="submit-button">Delete</button>
    </form>
    <a href="/messages/reply/<%= message.id %>" class="submit-button">Reply</a>
    </div>
</div>